force-app/main/default/flows/Flow_Week_3_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Account_Interest_Values</name>
        <label>Assign_Account_Interest_Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSingleAccountInterest.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection_of_interest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingleAccountInterest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleAccountInterest.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleAccountInterest.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Flow_Week_3.2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_Week_3.2</label>
    <loops>
        <name>Loop_Through_Products</name>
        <label>Loop_Through_Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opp_Pro</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Interest_Values</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Pro</name>
        <label>Get Opp_Pro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Pro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>collection_of_interest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Interest__c</objectType>
    </variables>
    <variables>
        <name>varSingleAccountInterest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Interest__c</objectType>
    </variables>
</Flow>
